{% extends 'quoteform/base.html' %}
{% block content %}
{% load static %}
{% include 'quoteform/navbar.html' %}

<br>
<div class="row" style="margin-left: 0.5%; margin-right: 0.5%;">
    <div class="col-lg-12">
        <div class="box-element" style="text-align: center;">
            <table class="table align-middle">
                <tbody>
                    <tr>
                        <th>Customer Name</th>
                        <td>{{quote.name}}</td>
                    </tr>
                    <tr>
                        <th>Customer WhatsApp No.</th>
                        <td>{{quote.whatsapp}}</td>
                    </tr>
                    <tr>
                        <th>Capacity (in kW)</th>
                        <td>{{quote.capacity}}</td>
                    </tr>
                    <tr>
                        <th>Module</th>
                        <td>{{quote.module}}</td>
                    </tr>
                    <tr>
                        <th>Solar Panel Make Selection</th>
                        <td>{{quote.panel}}</td>
                    </tr>
                    <tr>
                        <th>Inverter Make Selection</th>
                        <td>{{quote.inverter}}</td>
                    </tr>
                    <tr>
                        <th>Price (in INR)</th>
                        <td>{{quote.price}}</td>
                    </tr>
                    <tr>
                        <th>Revision</th>
                        <td>{{quote.revision}}</td>
                    </tr>
                    <tr>
                        <th>Date Created</th>
                        <td>{{quote.created_date}}</td>
                    </tr>
                </tbody>
            </table>
            <a style="text-decoration: none; color: white;" href="{% url 'renderpdf' pk=quote.pk %}"><button class="btn btn-success">Render PDF</button></a>
        </div>
    </div>
</div>

{% endblock %}