{% extends 'quoteform/base.html' %}
{% block content %}
{% load static %}
{% include 'quoteform/navbar.html' %}

<br>
<div class="row" style="margin-left: 0.5%; margin-right: 0.5%;">
    <div class="col-lg-12">
        <div class="box-element" style="text-align: center;">

            <p>Are you sure you want to remove "{{quote}}" from the database?</p>

            <form method="POST" action="{% url 'removequote' quote.id %}">
                {% csrf_token %}
            
                <a class="btn btn-sm btn-warning" href="{% url 'quotelist' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="Confirm">
            </form>

        </div>
    </div>
</div>

{% endblock %}